<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
    <form [formGroup]="loginFrom" (ngSubmit)="onSubmit()">
      <div class="text-cemter mb-4">
        <h1 class="mb-3">Login</h1>
      </div>
      <app-text-input
        [formControl]="loginFrom.controls['email']"
        [label]="'Email address'"
      ></app-text-input>
      <app-text-input
        [formControl]="loginFrom.controls['password']"
        [label]="'Password'"
        [type]="'password'"
      ></app-text-input>
      <div class="d-grid">
        <button
          [disabled]="loginFrom.invalid"
          class="btn btn-lg btn-primary mt-3"
          type="submit"
        >
          Sign in
        </button>
      </div>
    </form>
  </div>
</div>
